# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
ObjectiveC.gcno
ObjectiveC.gcda

#CocoaPods
Pods

#UI Automation
instrumentscli*.trace/

#Frank
Frank/*
!Frank/features

#MonkeyTalk
libMonkeyTalk*.a
MonkeyTalk/libs/
MonkeyTalk/reports/
MonkeyTalk/screenshots/

#Reports
*-reports/
compile_commands.json
